@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<link rel="stylesheet" href="~/css/site.css" />

<header></header>
<div class="container">
    <div class="filter_box">
        <div class="filter_items"></div>
        <p class="clear">Clear</p>
    </div>
    <ul class="jobs"></ul>
</div>
<script src="~/js/site.js"></script>
<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Olorunshola Joshua</a>.
</div>
